/* Dark navy background  */
.bg-dark-navy
{
  background-color: rgb(15 23 42);
}

body
{
  font-family: 'Sans-serif', Arial, sans-serif;
  color: slate;
  display: flex;
  margin: 0;
  height: 100vh;
}

.left-side
{
  flex: 0 0 200px; /* Fixed width */
  padding: 100px; /* TODO */
  overflow: hidden; /* Prevent content overflow */
}

.right-side
{
  flex: 1; /* Allow right side to take remaining width */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* TODO */
}

/* Top right links class */
.top-right-links 
{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 12px;
}

/* Top right links selector */
.top-right-links a
{
  margin-left: 10px;
}
