/* Dark navy background  */
.bg-dark-navy
{
  background-color: rgb(15 23 42);
}

body
{
  color: rgb(148 163 184);
  font-family: sans;
}

/* Top right links class */
.top-right-links 
{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 12px;
}

/* Top right links selector */
.top-right-links a
{
  margin-left: 10px;
}
