a 
{
  color: #708090;
  text-decoration: none;
}

a:hover 
{
  color: rgb(200 220 230); /* Whitish Slate */
}

a:visited 
{
  color: #708090;
}

body
{
  background-color: rgb(15 23 42); /* Dark Navy */
  font-family: 'Sans-serif', Arial, sans-serif;
  color: #708090; /* Text Light Gray Slate */
  display: flex;
  margin: 0;
  height: 100vh;
}

.left-side
{
  flex: 0 0 400px; /* Fixed width */
  padding: 100px; /* TODO */
  overflow: hidden; /* Prevent content overflow */
}

li::before 
{
  content: "\2014"; /* em dash */
  font-size: 20px;
  margin-right: 5px
}

nav a.active
{
  color:rgb(200 220 230);
}

.right-side
{
  flex: 1; /* Allow right side to take remaining width */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* TODO */
}

/* Top right links class */
.top-right-links 
{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 12px;
}

/* Top right links selector */
.top-right-links a
{
  margin-left: 10px;
}

.whitish-slate
{
  color: rgb(200 220 230);
}

ul
{
  list-style-type: none;
}
